.float-left{
    float: left;
    margin-left: 60px;
}

.float-left a{
    margin-right: 20px;
}

.float-right{
    float: right;
    margin-right: 60px;
}
.header{
    height: 50px;
    background-color:aqua;
    border-top: 5px solid red;
}
